* {
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

#todo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#btn {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px 0;
    cursor: pointer;
}

#compteur{
    display: flex;
}

#todoCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.todoCard {
    position: relative;
    display: flex;
    width: 200px;
    margin: 5px;
}

.task {
    display: flex;
    width: 100%;
}

.delBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.delBtn i {
    cursor: pointer;
}