*{
    padding: 0;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
}

#todo{
    /* display: flex; */
}

#todoCards{
    display: flex;
    flex-wrap: wrap;
}

.todoCard{
    position: relative;
    display: flex;
    width: 200px;
    margin: 5px;
}

.task{
    display: flex;
    width: 100%;
}

.delBtn{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.delBtn i{
    cursor: pointer;
}

#btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    cursor: pointer;
}